body{
    background-image: url(../images/magasin-2.jpg);
    background-attachment: fixed;
}

.logo {
  height: auto;
  width: 4%;
  margin-right: 33%;
}
.navbar a{
    color: white;
    font-size: 1rem;
    transition: 0.5s;
}
.navbar a:hover{
  scale: 1.3;
}
.navbar-brand {
  margin: 0;
  padding: 0;
}
.navbar:active {
  color: aliceblue;
}
.nav-link:focus {
  color: rgb(105, 105, 105);
}
.dropdown-menu {
  background-color: black;
}
.nav-link:focus {
  color: white;
}
.navbar a:hover {
  color: white;
}
.dropdown-item:hover {
  background-color: rgb(55, 55, 55);
}
.dropdown-item:active {
  color: white;
}
.Chercher {
  margin-left: 0.5%;
}
h1{
    text-align: center;
    color: white    ;
}
.container-article a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.row{
    width: 100%;
    padding: 10%;
}
.row img{
    width: 90%;
}
.cadre{
    background-color: rgb(0, 0, 0);
    padding: 5%;
    border: 10rem black;
    
}
.cadre img{
    margin-left: 5%;
    margin-top: 5%;
}
.space{
    margin-top: -18%;
}
.cadre p{
    margin-left:5%;
}